# LLM configuration
## The API Key of the model provider.
LLM_API_KEY="LLM_API_KEY"
## The model name. When using an external provider, model name should follow LiteLLM conventions (see https://docs.litellm.ai/docs/providers)
## (e.g. for OpenAI, gpt-5-mini: openai/gpt-5-mini)
LLM_MODEL="LLM_MODEL"
## (Optional) The model base URL for local hosting.
LLM_BASE_URL=""

# Absolute paths
## The tasks folder.
TASKS_ABSOLUTE_PATH="TASKS_ABSOLUTE_PATH"
## The results folder.
RESULTS_ABSOLUTE_PATH="RESULTS_ABSOLUTE_PATH"
